<!-- templates/login.html -->
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Přihlášení</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stile.css') }}">
</head>
<body>
    <div class="container">
        <h2>Přihlášení</h2>
        <form method="POST">
            <label for="username">Uživatelské jméno</label><br>
            <input type="text" name="username" required><br><br>

            <label for="password">Heslo</label><br>
            <input type="password" name="password" required><br><br>

            <input type="submit" value="Přihlásit">
        </form>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul>
          {% for category, message in messages %}
            {% if category == 'danger' %}
              <li style="color: red;">{{ message }}</li>
            {% elif category == 'success' %}
              <li style="color: green;">{{ message }}</li>
            {% else %}
              <li style="color: black;">{{ message }}</li>
            {% endif %}
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      
    </div>
</body>
</html>